body{
    margin: 0px;
    background: #e7e5e5;
}
.Logo{
    width: 55px;
    height: 67px;
    padding: 25px 10px 0 10px;
}

    /*begin navigatiebalk*/
        #navigatiebalk{
            position: fixed;
            z-index: +1;
            top: 0px;
            width: 100%;
            background-image: url("https://media.giphy.com/media/L00auhhVx68CI/giphy.gif")/*url("http://images4.fanpop.com/image/photos/19600000/Minecraft-minecraft-19670270-1600-1000.png")*/;
            background-position: center;
            padding: 0px;
            box-shadow: 0 0 20px 0;
        }
        ul{
            list-style-type: none;
        }
        li{
            float: right;
            text-align: center;
        }
        li a{
            display: block;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.5);
            text-decoration: none;
            color: black;
            font-family: arial;
        }
        li a:hover{
            background-color: rgba(177, 241, 177, 0.3);
        }
        /*Centreren de link van de navigatiebalk*/
        .align{
            padding: 40px 0;
        }

        /*dit zorgt ervoor dat ook de titel die in de navigatiebalk staat uitgelijnd staat met de rest van de navigatiebalk*/
        h1{
            background-color: rgba(255, 255, 255, 0.5);
            color: black;
            font-family: arial;
            text-decoration: none;
        }
    /*eind van de navigatiebalk*/


/*layout van de tekst*/

.row{
    position: absolute;
    display: block;
    top: 150px;
    left: 5%;
    right: 20%;
    background-color: #cecece;
    padding: 20px;
}
.tekst{
    font-family: arial;
}
div.afbeelding{
    float: right;
    padding: 10px 0 0 10px;
}

#Subrow{
    position: absolute;
    display: block;
    background-color: #cecece;
    padding: 20px;
    top: 150px;
    right: 5%;
}
.material-icons{
    color: black;
}
.button{
    width: 48%;
    height: 50px;
    margin: 1px;
    display: inline-block;
    position: relative;
    float: left;
    background-color: #87c341;
    border: none;
}
button:hover{
    background-color: #5da50a;
}
    /*gallery*/
    .h3{
        clear: both;
        float: left;
    }
    div.gallery{
        float: center;
        clear: both;
    }
    div.galleryItem{
        float: left;
        margin: 2px;
        padding: 5px;
        text-align: center;
        border: 1px solid #fff;
    }
    div.galleryItem:hover{
        border: 1px solid black;
    }
    div.galleryItem img{
        width: 128px;
        height: 128px;
    }
    /*einde gallery*/

    /*About Us*/
        .AboutUs{
            position: absolute;
            display: block;
            min-width: 30%;
            top: 150px;
            left: 30%;
            background-color: #cecece;
            padding: 20px;
        }
        .center{
            text-align: center;
        }
        .lineheight{
            line-height: 2;
        }
        .left{
            float: left;
            display: inline;
        }
        .right{
            float: right;
            display: inline;
        }
    /*einde About US*/

/*Responsive*/
@media screen and (max-width:1500px){

}

@media screen and (max-width: 820px){
    .align{float: left; padding: 5px 0;}
    li a{padding: 10px; width: 50%;}
    li {width: 50%;}
    .row{top: 280px;}
    img.afbeelding{float: none; width: 200px; heigth: 200px;}
}